<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인 화면</title>
    </head>
    <body>
        <h1>로그인 화면</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }} {{ form.username }} {% if
                form.username.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div>
                {{ form.password.label_tag }} {{ form.password }} {% if
                form.password.errors %}
                <ul class="errorlist">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div>
                <input type="submit" value="로그인" />
            </div>
        </form>
        <a href="{% url 'login:signup' %}">회원가입</a>
    </body>
</html>
