<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 화면</title>
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}" />
  </head>
  <body>
    <div class="icon">
      <div class="circle">
        <img src="/login/templates/login/music-note.png" alt="" />
      </div>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="box">
        <div class="email">
          {{ form.username.label_tag }} {{ form.username }} 
          {% if form.username.errors %}
          <ul class="errorlist">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="password">
        {{ form.password.label_tag }} {{ form.password }} 
        {% if form.password.errors %}
        <ul class="errorlist">
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
<div class="putput" style="margin-left:40% ;">
      <div style="margin: 10px;">
        <input type="submit" value="Login" />
      </div>
      <div class="signup" style="margin: 10px;">
        <a href="{% url 'login:signup' %}">회원가입</a>
      </div>
    </div>
    </form>
  </body>
</html>