<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MusicShare</title>
        <link rel="stylesheet" href="{% static 'css/join_member_page.css' %}" />
    </head>
    <body>
        <form
            action="{% url 'login:signup' %}"
            method="POST"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <div class="circle">
                <img
                    src="{% static 'media/music-note.png' %}"
                    class="music_icon"
                />
            </div>
            <p class="main"><b>회원 가입</b></p>
            <fieldset class="field">
                <div class="box2">
                    <br />
                    <label>{{ form.username.label_tag }}</label>
                    <p>{{ form.username }}</p>

                    <label for="password1"
                        >{{ form.password1.label_tag }}</label
                    >
                    <p>{{ form.password1 }}</p>

                    <label for="password2"
                        >{{ form.password2.label_tag }}</label
                    >
                    <p>{{ form.password2 }}</p>

                    {% if error %}
                    <p style="color: rgb(201, 191, 181)">{{error}}</p>
                    {% endif %}
                </div>
            </fieldset>

            <input type="submit" value="가입하기" class="submit" />
            <p class="goto_login">
                이미 계정이 있나요?
                <b><a href="{% url 'login:login' %}">로그인</a></b>
            </p>
        </form>
    </body>
</html>
