<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <title>Document</title>
    </head>
    <body>
        <hr /> {% if request.user.is_authenticated %}
        <a href="{% url 'create' %}"><p>생성</p></a> 
        {% endif %}

        <nav>
            <div class="nav_bar">
                <div class="nav_button">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'mypage' request.user %}"
                        ><p>마이페이지</p></a
                    >
                    <a href="{% url 'login:logout' %}"><p>로그아웃</p></a>
                    {% else %}
                    <div class="login_button">
                        <a href="{% url 'login:login' %}"> 로그인</a>
                    </div>
                    <div class="join_member_button">
                        <a href="{% url 'login:signup' %}"> 회원가입</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% for writing in writings %}
        <hr />
        <main>        
            <div class="main_show">
                <div class="title"><h1>음악추천</h1></div>{{writing.author}}
                {% if writing.image %}
            <img src="{{writing.image.url}}" />
            {% else %}
            <img src="http://via.placeholder.com/50x50" alt="" />
            {% endif %}

                <div class="write_box">
                    <div class="writtenbox_1">
                        <div class="element_1">
                            <div class="subject_1">
                                <h3>{{writing.title}}</h3>
                            </div>

                            <div class="box_1">
                                <div class="written_1">
                                    {{writing.content}}
                                </div>
                            </div>

                            <div class="song_info_1">
                                <div class="song_1"><h4>{{writing.music_title}}</h4></div>
                                <div class="singer_1">{{writing.music_singer}}</div>
                            </div>
                        </div>
                        {{writing.datetime|date:"Y년 m월 d일"}}
                    </div>

                    <div class="writtenbox"></div>
                </div>
            </div>
        </main>
        {% endfor %}
    

        <script>
            /*여기 있는 버튼을 작성페이지에 있는 버튼이랑 연결해야함*/
            const button = document.querySelector(".btn button");

            button.addEventListener("click", () => {
                const writtenbox = document.createElement("div");
                writtenbox.className = "writtenbox_new";

                const element = document.createElement("div");
                element.className = "element_new";

                const subject = document.createElement("div");
                subject.className = "subject_new";
                subject.textContent = "제목";

                const box = document.createElement("div");
                box.className = "box_new";

                const written = document.createElement("div");
                written.className = "written_new";

                const songInfo = document.createElement("div");
                songInfo.className = "song_info_new";

                const song = document.createElement("div");
                song.className = "song_new";
                song.textContent = "노래";

                const singer = document.createElement("div");
                singer.className = "singer_new";
                singer.textContent = "가수이름";

                songInfo.appendChild(song);
                songInfo.appendChild(singer);

                box.appendChild(written);

                element.appendChild(subject);
                element.appendChild(box);
                element.appendChild(songInfo);

                writtenbox.appendChild(element);

                document.querySelector(".writtenbox").appendChild(writtenbox);
            });
        </script>

        
    </body>
</html>
