<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{request.user}}<br>
  {% if not writings %} 
    none
  {% else %}
    {% for writing in writings %} 
      {% if writing.image %}
        <img src="{{writing.image.url}}">
      {% else %}
        <img src="http://via.placeholder.com/50x50" alt="">
      {% endif %}
      <h3>{{ writing.title }}</h3>
      <button type="button"><a href="{% url 'delete' writing.id %}">삭제</a></button>
      <button type="button"><a href="{% url 'update' writing.id %}">수정하기</a></button>
      -{{ writing.content|truncatechars:20 }}-{{ writing.author }}-{{ writing.datetime| date:"Y년 m월 d일" }}<br>
    {% empty %}
        없음
    {% endfor %}
  {% endif %}

</body>
</html>
