* {
    background-color: #0f0c2f;
    display: flexbox;
}

p {
    color: #ccbeb7;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

i {
    font-size: 40px;
    color: #ccbeb7;
}

#write {
    width: 1095px;
    height: 600px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3rem;
}

.title {
    width: 1086px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    color: #ccbeb7;
}

#write_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 1rem;
}

.content {
    width: 704px;
    height: 528px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    color: #ccbeb7;
}

#song {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#write_song {
    width: 352px;
    height: 193px;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.song_title,
.singer {
    display: flex;
    width: 314px;
    height: 29px;
    flex-direction: column;
    color: #ccbeb7;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
}

.add_song {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f5f5f5;
    display: flexbox;
    width: 329px;
    height: 41px;
    border-radius: 40px;
    border: 2px solid #f5f5f5;
}

#song_list {
    width: 352px;
    height: 317px;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    display: inline-flex;
    flex-direction: column;
}

.add_write {
    color: #0f0c2f;
    font-size: 24px;
    font-weight: 400;
    width: 365px;
    height: 67px;
    border-radius: 40px;
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
